[submodule "nodes/yo"]
	path = nodes/yo
	url = https://github.com/cogni-test-org/yo.git
[submodule "nodes/test-cog"]
	path = nodes/test-cog
	url = https://github.com/cogni-test-org/test-cog.git
[submodule "nodes/brother"]
	path = nodes/brother
	url = https://github.com/cogni-test-org/brother.git
[submodule "nodes/ihatedevops"]
	path = nodes/ihatedevops
	url = https://github.com/cogni-test-org/ihatedevops.git
