[submodule "nodes/yo"]
	path = nodes/yo
	url = https://github.com/cogni-test-org/yo.git
[submodule "nodes/test-cog"]
	path = nodes/test-cog
	url = https://github.com/cogni-test-org/test-cog.git
[submodule "nodes/brother"]
	path = nodes/brother
	url = https://github.com/cogni-test-org/brother.git
[submodule "nodes/ghcr"]
	path = nodes/ghcr
	url = https://github.com/cogni-test-org/ghcr.git
[submodule "nodes/anotha"]
	path = nodes/anotha
	url = https://github.com/cogni-test-org/anotha.git
[submodule "nodes/broo"]
	path = nodes/broo
	url = https://github.com/cogni-test-org/broo.git
